* {
  font-family: Arial, Consolas, sans-serif;
  margin: 0.55%
}
* {

    background: linear-gradient(270deg, #18181b, #a3a3a3);

    background-size: 400% 400%;

    -webkit-animation: zetroubg 30s ease infinite;

    -moz-animation: zetroubg 30s ease infinite;

    -o-animation: zetroubg 30s ease infinite;

    animation: zetroubg 30s ease infinite;

}

@-webkit-keyframes zetroubg {

    0%{background-position:0% 50%}

    50%{background-position:100% 50%}

    100%{background-position:0% 50%}

}

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Baloo+Bhaina+2:wght@800&family=Readex+Pro:wght@500&family=Roboto+Mono:wght@500&family=Ubuntu:wght@700&display=swap');
